@media (prefers-color-scheme: dark) {
  :root {
    --bg: #010101;
    --text: #ffffff;
    --subtext: #a3a2a7;
    --linktext: #e58564;
    --underline: #313133;
    --sectionbg: #1e0b05;
    --buttoncolor: #e58564;
    --buttonbgcolor: #1c1c1e;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #f9e2da;
    --text: #1e0b05;
    --subtext: #7d7d7f;
    --linktext: #e58564;
    --underline: #dedede;
    --sectionbg: #ffffff;
    --buttoncolor: #e58564;
    --buttonbgcolor: #ffffff;
  }
}

body {
  font-family: "Courier New";
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  box-sizing: border-box;
  margin: 40px 0 20px 0;
  display: grid;
  grid-template-areas:
    "img title"
    "img subtitle1"
    "img subtitile";
  width: 365px;
  column-gap: 20px;
  row-gap: 0px;
  border-radius: 20px;
  padding: 20px;
  background-color: var(--sectionbg);
}

.header__avatar {
  border-radius: 50%;
  grid-area: img;
  width: 80px;
  height: 80px;
}

.header__title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
  font-family: "Courier New";
  grid-area: title;
  align-items: center;
}

.header__1subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  grid-area: subtitle1;
  align-items: center;
}

.header__subtitle {
  color: var(--subtext);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  grid-area: subtitile;
}

.links {
  width: 365px;
  margin-bottom: 20px;
}

.links__header {
  font-size: 24px;
  line-height: 1.4;
  margin: 0 0 15px 0;
  font-family: "Courier New";
}

.links__container {
  list-style-type: none;
  background: var(--sectionbg);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 10px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 0;
}

.links__link,
.links__title {
  font-size: 14px;
  font-size: 1.4;
}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 30px;
  border-bottom: 1px solid var(--underline);
  width: 280px;
}

.links__link:last-child {
  border-bottom: none;
}

.linsk__link,
.links__link:visited {
  text-decoration: none;
  color: var(--linktext);
}

.links__title {
  margin: 0;
  min-width: 100px;
}

footer {
  margin: 0 0 40px 0;
}
.button-link {
  margin-top: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 365px;
  background: var(--buttonbgcolor);
  border-radius: 10px;
  border: none;
  outline: none;

  font-size: 14px;
  line-height: 1.4;

  color: var(--buttoncolor);
  text-decoration: none;
}

.header__avatar:hover {
  border: solid 2px #e58564;
  margin: -2px}
  
/* Parent Container */
.content_img{
  position: relative;
  width: 70px;
  height: 10px;
  float: left;
  margin-right: 0px;
 }
/* Child Text Container */
.content_img div{
 position: absolute;
 bottom: 0;
 right: 0;
 background: transparent;
 color: white;
 margin-bottom: -70px;
 font-family: sans-serif;
 opacity: 0;
 visibility: hidden;
 -webkit-transition: visibility 0s, opacity 0.5s linear; 
 transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.content_img:hover{
 cursor: pointer;
}

.content_img:hover div{
 width: 35px;
 padding: 15px 30px;
 visibility: visible;
 opacity: 0.8; 
}